{
  "extends": ["eslint:recommended", "prettier", "plugin:node/recommended"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {},
  "globals": {
    "fetch": true,
    "riksdagenUrl": true,
    "subjectData": true,
    "subjectObject": true,
    "partyData": true,
    "memberArray": true,
    "memberObject": true,
    "partyMembers": true
  }
}
